*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
}

.num{
    font-weight: bold;
}

.numdiv{
    margin-bottom: 5%;
}

.section1{
    margin-bottom: 10%;
}

.section2{
    width: 300px;
    height: 300px;
    padding: 20px;
    margin-bottom: 20px;
    display: block;
    box-sizing: border-box;

}

.tableone, tr, th, td{
    border: 1px solid black;
    margin-bottom: 20px; 
    font-size: 17px;
}

.tabletwo{
    font-size: 18px;
}

.tablethree{
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 400px;
}

.header {
    font-weight: bold;
}
.tg-text {
    text-align: left;
}
.tg-center {
    text-align: center;
}
.tg-right {
    text-align: right;
}

.section5 {
    background-color: rgb(173, 161, 173);
    width: 40%;
    padding: 10px 10px;
}

.paragraph{
    display: inline-block;
    background-color: rgb(205, 73, 95);
    width: 70%;
    height: 50px;
}

.div{
    background-color: rgb(205, 73, 95);
    width: 70%;
    height: 50px;
}

.span{
    display: inline-block;
    background-color: rgb(205, 73, 95);
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-right: 15px;
}

.h3{
    font-weight: 700;
    display: inline-block;
    background-color: rgb(205, 73, 95);
    width: 70%;
    height: 50px;
}

.button{
    background-color: rgb(205, 73, 95);
    height: 50px;
    width: 200px;
    margin-bottom: 20px;
    display: block;
}
.sect{
    display: flex;
    width: 320px;
    justify-content: space-around;
}

.sect1{
    background-color: rgb(205, 73, 95);
    height: 50px;
    width: 150px;
}

.sect2{
    background-color: rgb(205, 73, 95);
    height: 50px;
    width: 150px;
}

.parent{
    display: flex;
    background-color: pink;
    position: relative;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    padding: 15px;
}

.child_1, .child_2, .child_3, .child_4{
    position: static;
    display: block;
    background-color: red;
    border: 4px solid black;
    height: 120px;
    width: 120px;    
}

/* .child_2{
    position: relative;
    position: absolute;
    top: 50px;
    left: 50px;
} */

.sky{
    background-image: url(./sky.jpg);
    width: 600px;
    height: 400px;
    margin-top: 20px;
}

.littlePlanet{
    position: relative;
    bottom: 105px;
    left: 170px;
}

.planet{
    position: relative;
    top: 0;
    right: 70px;
}

.rocket{
    position: relative;
    bottom: 30px;
    right: 150px;
}

.bigPlanet{
    position: relative;
    top: 140px;
    right: 180px
}

.ufo{
    position: relative;
    top: 30px;
    left: 130px;
}

.asteroid{
    position: relative;
    left: 350px;
    bottom: 170px;
}

.lego{
    position: relative;
    top: 84px;
    left: 340px;
}

.container{
    margin-top: 20px;

}

.flexblock{
    background-color: purple;
    display: flex;
    width: 600px;
    margin-bottom: 20px;
    height: 70px;

}

.block_1{
    height: 200px;
    gap: 20px;
    padding-left: 20px;
    padding-right: 0%;
    box-sizing: border-box;
    flex-wrap: wrap;  
    align-items: center;  
}

.fr{
    background-color: rgb(255, 132, 0);
    height: 40px;
}

.fr1{
    width: 80px;
}

.fr2{
    width: 140px;
}

.fr3{
    width: 60px;
}

.fr4{
    width: 80px;
}

.fr5{
    height: 100px;
    width: 35px;
}

.fr6{
    height: 120px;
    width: 50px;
}

.fr7{
    height: 70px;
    width: 50px;
}

.block_2{
    gap: 20px;
    align-items: center;
}

.block_3{
    gap: 20px;
    align-items: center;
    justify-content: end;
}

.block_4{
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.block_5{
    align-items: center;
    justify-content: space-between;
}

.block_6{
    align-items: center;
    justify-content: space-around;
}

.flex{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flexb{
    background-color: purple;
    width: 250px;
    height: 200px;
    display: flex;
    margin-bottom: 20px;
}

.block_7{
    align-items: start;
    justify-content: space-between
}

.block_8{
    justify-content: space-between;
    align-items: end;
}

.block_9{
    justify-content: space-between;
    align-items: center;
}

.block_10{
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    /* box-sizing: border-box;
    max-height: 200px; */
}

.block_10 > .fr5{
    height: stretch;
}

.block_10 > .fr6{
    height: stretch;
}

.block_10 > .fr7{
    height: stretch;
}

.block_11{
    padding-top: 20px;
    height: 200px;
    justify-content: space-between;
    align-items: baseline;
}

.text{
    background-color: rgb(255, 132, 0);
}

.text1{
    width: 120px;
    height: 120px;
    font-size: 20px;
}

.text2{
    width: 110px;
    height: 50px;
    font-size: 10px;
}

.text3{
    width: 140px;
    height: 80px;
    font-size: 25px;
}

.text4{
    width: 150px;
    height: 150px;
}

.grid-line{
    background-color: skyblue;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 50px);

}